.input {
  border-radius: 5px;
  background: rgb(204, 199, 199);
  border: 0.5px solid black;
  color: rgb(11, 11, 11);
  width: 400px;
  height: 50px;
  padding: 8px 16px;
  font-size: 32px;
  margin-top: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.button {
  border: none;
  background: #383737;
  color: white;
  font-size: 20px;
  border-radius: 16px;
  padding: 8px 16px;
}

.qrWrapper svg path:last-child {
  fill: #878787;
}
